#root {
  text-align: center;
}
header {
  padding: 1rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #64ddffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.mainCard{
  min-height: 100vh;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.createfriend {
  color: white;
  background-color: #319795 !important;
  box-shadow: 0px 5px 5px #81e6d9;
  margin: 30px;
  padding: 10px;
  font-size: 1.2rem;
  font-size: 2rem;
  width: fit-content;
  align-self: center;
}
.savefriend {
  background-color: #e6fffa;
  color: #1d4044;
  box-shadow: 0px 5px 5px #81e6d9 !important;
  margin: 30px 0 30px 0;
  padding: 10px;
  font-size: 1.2rem;
  font-size: 2rem;
  width: fit-content;
  align-self: center;
}
.icon {
  height: 30px;
  display: inline;
}
.login-signup {
  margin: 8rem;
  background-color: #e6fffa;
  box-shadow: 8px 5px 5px #b2f5ea;
  border-radius: 2rem;
}
.formInput {
  background-color: white;
  border-radius: 1rem;
  padding: 3px;
  padding-left: 5px;
  margin: 5px;
  width: fit-content;
}
.animation {
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
